@model Restaurant
@{
    ViewBag.Title = "Details";
}
<h1 class="mt-4 mb-3">
    Details
    <small>@Model.Name</small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <img class="img-fluid" src="@Model.CoverURL" style="width: 750 !important; height: 500 !important;" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">House specialties</h3>
        <ul>
            <li>@Model.Specialities1</li>
            <li>@Model.Specialities2</li>
            <li>@Model.Specialities3</li>
        </ul>
        You like what you see?&nbsp;&nbsp;
        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">Reserve</button>
    </div>

</div>
<!-- /.row -->
<!-- Related Projects Row -->
<h3 class="my-4">Food is the foundation of happiness</h3>

<div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="http://grandparentsguide.com/wp-content/uploads/2016/11/pumpkin-pie2.jpg" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="https://thissillygirlskitchen.com/wp-content/uploads/2016/07/No-Bake-Oreo-Bomb-Pie-from-This-Silly-Girls-Kitchen-feature-1-500x300.jpg" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="https://www.strudelandschnitzel.com/wp-content/uploads/2019/06/Plum-cake-500x300.jpg" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-fluid" src="https://www.bethlehemhealth.co.nz/image/cache/catalog/black-sesame-choc-cake-500x300-crop.jpg" alt="">
        </a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reservation">
                    <input type="hidden" value="@Model.Id" id="restId"  />
                    <div class="form-group">
                        <label class="form-check-label">First name:</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First name" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Last name:</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Date:</label>
                        <input id="date" type="text" class="form-control" placeholder="Date" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Meal:</label>
                        <select class="form-control" id="meal">
                            <option selected disabled>Choose your meal</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0
    });

    $('#confirm').on('click', function (e) {       
        e.preventDefault();        
        $.ajax({
            type: "POST",
            url: "/Restaurant/Reservation",
            data: {
                'restId': $('#restId').val(),
                'firstName': $('#firstName').val(),
                'lastName': $('#lastName').val(),
                'resDate': $('#date').val(),
                'meal': $('#meal').val()
            },
            success: function (data) {
                $('#exampleModal').modal('toggle');
                window.location.href = "/Restaurant/Index";
            },
            error: function (error) {
                console.error(error);
            }
        });
    })
</script>